:root{
    box-sizing: border-box;
    --checker-size: 65px;
    --column-width: 70px;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

#message{
    color: grey;
}

#pieces{
    display: none;
}

#red-piece{
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    width: var(--checker-size);
    height: var(--checker-size);
}

#black-piece{
    border-radius: 50%;
    background-color: black;
    width: var(--checker-size);
    height: var(--checker-size);

}

#board{
    display: flex;
    width: 490px;
    margin: 0 auto;
    border: 2px solid black;

}

.columns{
    border: 2px solid black;
    width: var(--column-width);
    height: 390px;
    display: flex;
    flex-direction: column-reverse;
}